{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
            <div class="phase-banner-beta">

<div>
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service – your
            <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
</div>

                



    <div class="grid-row margin-top"> 
        <div class="column-two-thirds">
            <span class="font-xsmall margin-right"> 
                Welcome jim,
            </span>
            <span class="font-xsmall margin-right">
                Casterbridge College
            </span>
            <span class="font-xsmall margin-right">
                UKPRN:12345678
            </span>
        </div>
        
        <div class="column-third" style="text-align: right;"> <!--inline style needs to be changed-->
            <span>
                <a class="font-xsmall" href="/support">Support</a>
            </span>
            
            <span>
                <a class="font-xsmall" href="/settings">User roles</a>
            </span>
            
            <span>
                <a class="font-xsmall" href="/">Sign out</a>
            </span>
        </div>
    </div>

                
            


    <!--<div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/index">Home</a></li>
        <li><a href="/contracts">Contracts</a></li>
      </ol>
    </div>-->
            
<div class="grid-row">

    <div class="column-two-thirds">

                <h2 class="heading-xlarge">Contracts</h2>
                
<p>View and sign your contracts with the SFA.</p>
<p>Previous contracts, payments and remittance data can be found on <a href="/">the Hub</a>.</p>


    
        
            
    <div>
        
        <h2 class="heading-medium">Contract action list</h2>
                
         <ul>
        <li><a href="/Documents">You have 3 new contracts to sign</a></li>
             <li><a href="/Documents">You have 1 withdrawn contracts</a></li>
        </ul>
                   



    <h2 class="heading-medium">Related</h2>


    <p>View all versions of your contract(s).</p>
    <ul class="list-bullet">
        <li><a href="/Documents">Your contracts and supporting documents</a></li>
    </ul>
</div>
</div>
    
    <div class="related-container">
        <aside class="related" id="related">
            <div class="inner group related-subsection">
                <h2 id="parent-subsection">Support</h2>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li>
                                <a href="/">Provider support users</a>
                            </li>
                            <li>
                                <a href="/">Email your CDS advisor</a>
                            </li>
                            <li>
                                <a href="/">Main service desk</a>
                            </li>
                            <li class="related-topic">
                                <a href="/">More 
                                    <span class="visuallyhidden">in Apprenticeships, 14 to 19 education and training for work</span>
                                </a>
                            </li>
                    </ul>
                </nav>
            </div>



            <!--<div class="inner group">
                <h2 id="related-external-links">News and information</h2>

                <nav role="navigation" aria-labelledby="related-external-links">
                    <ul>

                        <li>
                            <a href="/" rel="external">Update on Business-critical information for providers</a>
                        </li>
                        <li>
                            <a href="/" rel="external">FE Connect: Discussion forum for providers</a>
                        </li>
                        <li>
                            <a href="/" rel="external">SFA GOV.UK page alerts: Page alerts by Email or Feed.</a>
                        </li>

                    </ul>
                </nav>
            </div>-->


           <!-- @*<div class="inner group">
                    <a class="return-to-top" href="#content">Return to top ↑</a>
                </div>*@-->
        </aside>

    </div>


<!--<div class="grid-row">
                    <div class="column-third">
<div class="DashboardInfoContainer">
    <section id="section-Goto" role="region">
        <h2 class="heading-medium">Feedback</h2>
        <div class="DashBoardPart noBorder">
            This is a new service – your
            <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
        </div>
    </section>
</div>
                    </div>
                    <div class="column-third">
<div class="DashboardInfoContainer">
    <section id="section-Contacts" rol="region">
        <h2 class="heading-medium">Support</h2>
        <div class="DashBoardPart noBorder">
        <div class="bold-small">Provider support users:</div>
<a href="/ProviderSupportUsers">Your organisation's support users</a>    <p>
        </p><div class="bold-small">CDS Advisor:</div>
        <div>
            <a href="mailto:SFADigitalContractingMailbox@sfa.bis.gov.uk ">Email your advisor</a>
        </div>
    <p></p>
    <p>
        </p><div class="bold-small">Main service desk:</div>
        <div>
            <a href="mailto:servicedesk@SFA.bis.gov.uk">servicedesk@SFA.bis.gov.uk</a>
        </div>
        <div> 0370 267 0001</div>
    <p></p>

        </div>
    </section>
</div> 
                    </div>
                    <div class="column-third">
<div class="DashboardInfoContainer">
    <section id="section-Updates" role="region">
        <h2 class="heading-medium">News and information</h2>
        <div class="DashBoardPart noBorder">
<div>
    <p>Sign up for updates from:</p>
    <p>
        <a href="https://www.gov.uk/government/collections/skills-funding-agency-update" class="bold-small">Update</a>: Business-critical information for providers.
    </p>
    <p>
        <a href="http://feconnect.sfa.bis.gov.uk/" class="bold-small">FE Connect</a>: Discussion forum for providers.
    </p>
    <p><span class="bold-small">SFA GOV.UK page alerts</span>: Page alerts by <a href="https://www.gov.uk/government/email-signup/new?email_signup%5Bfeed%5D=https%3A%2F%2Fwww.gov.uk%2Fgovernment%2Forganisations%2Fskills-funding-agency.atom">Email</a> or <a href="https://www.gov.uk/government/organisations/skills-funding-agency.atom">Feed</a>.</p>
</div>

        </div>
    </section>
</div>
                    </div>
                </div>-->
    </div>
</main>

{% endblock %}