{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row margin-top">
        <div class="column-two-thirds">
            <span class="font-xsmall margin-right">
                Welcome jim,
            </span>
            <span class="font-xsmall margin-right"> 
                Casterbridge College
            </span>
            <span class="font-xsmall margin-right">
                UKPRN:12345678
            </span>
        </div>
        
        <div class="column-third" style="text-align: right;"> <!--inline style needs to be changed-->
            <span>
                <a class="font-xsmall" href="/support">Support</a>
            </span>
            
            <span>
                <a class="font-xsmall" href="/settings">User roles</a>
            </span>
            
            <span>
                <a class="font-xsmall" href="/">Sign out</a>
            </span>
        </div>
    </div>
    
    <!--<div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/index">Home</a></li>
        <li><a href="/documents">Your contract documents</a></li>
      </ol>
    </div>-->

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Contract withdrawn</h1>
    

<section class="attachment">
    
    <div>
        
        <div>
        <p>
                Your <a class="link" href="/">ESF SSW Retraining for Employment contract for Cornwall and the Isles of Scilly LEP version 1</a> has been withdrawn following discussions with your CDS advisor.<span class="x-xsmall">PDF, 82KB</span>
        </p>
        
        
            </div>
        
        <div class="accessibility-warning">
            
            <h2>
                This file may not be suitable for users of assistive technology.
                <br>
                <span class="toggler" id="togglehelp">Request a different format.</span>
            </h2>
            
            <p class="visuallyhidden" id="help_block">
                <span class="arrow"></span>
                If you use assistive technology and need a version of this document
                in a more accessible format, please email
                <a href="/">info@sfa.bis.gov.uk</a>.
                Please tell us what format you need. It will help us if you say what assistive technology you use.
            </p>
        
        </div>
    
    </div>
</section>


        
                <br>
                
                <h2 class="heading-small">What does this mean?</h2>
                <p>You can no longer sign the contract and will need to contact your <a href="/">Central Delivery Service(CDS)</a> advisor and discuss this further with them.</p>
                
                <p></p>

<p>Back to <a href="/Contracts/Payments">Contracts</a></p>
        </div>
    </div>
</div>
</main>


{% endblock %}


